*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.posteo{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center; 
    flex-direction: column;
    overflow-y: scroll;
}

.fotos{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: red;
}